#main h1 {
  margin: 36px 0;
}

#profile {
  float: left;
  width: 182px;
  margin: 0 16px 16px 0;
  display: block;
}

#eric p {
  text-align: left !important;
}

@media only screen and (max-width: 760px) {
  #profile {
    float: none;
    margin: 0 auto 16px;
    border-radius: 91px;
  }

  p {
    margin: 0 16px;
  }
}
