#atom {
  width: 140px;
  height: 130px;
  margin: 48px auto 0;
  display: block;
}

#register-button-container {
  width: 100%;
  margin: 0;
}

#register-button {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0);
  font-size: 24px;
  margin: 48px auto;
  width: 140px;
  height: 33px;
  display: block;
  position: relative;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#judgelist {
  margin-bottom: 8px;
}

.judge img {
  width: 180px;
  margin: 0 auto;
  display: block;
  margin-bottom: 12px;
  border-radius: 90px;
}

.judge h4 {
  font-size: 16px;
  text-align: center;
}

.judge span {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#schedule h1 {
  margin-bottom: 0;
}

#schedule h2 {
  color: #fff;
  text-align: center;
  margin: 16px auto;
}

.scheduletable {
  margin: 0 auto;
}

.scheduletable tr td {
  padding: 12px 16px;
  color: #fff;
}

.question {
  margin-bottom: 16px;
}

.question h4 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 6px;
}

.question p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

@media only screen and (max-width: 760px) {
  #faq h1 {
    margin-bottom: 16px;
  }
}
