#atom {
  width: 140px;
  height: 130px;
  margin: 48px auto 0;
  display: block;
}

.major-button-container {
  margin: 0;
}

.major-button {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0);
  font-size: 24px;
  margin: 48px auto;
  width: 140px;
  height: 33px;
  display: block;
  position: relative;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#eric .judge {
  color: #fff;
}

#judgelist {
  margin-bottom: 8px;
}

.judge {
  text-decoration: none;
  color: #000;
}

.judge img {
  width: 180px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 12px;
  border-radius: 90px;
}

.judge h4 {
  font-size: 16px;
  text-align: center;
}

.judge span {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#schedule h1 {
  margin-bottom: 18px;
}

#schedule p {
  color: #fff;
  margin-bottom: 4px;
}

#schedule h2 {
  color: #fff;
  text-align: center;
  margin: 16px auto;
}

.scheduletable {
  margin: 0 auto;
}

.scheduletable tr td {
  padding: 12px 16px;
  color: #fff;
}

#sponsor-button-container {
  width: 100%;
  margin: 0;
}

#sponsors img {
  height: 68px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

#mlh-logo {
  height: 86px !important;
}

#sponsors h2 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 20px;
}

#sponsors p {
  text-align: center;
  margin-top: 32px;
  margin-left: 64px;
  margin-right: 64px;
}

#sponsor-button {
  border: 3px solid #222;
  color: #222;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  margin: 32px auto 0;
  width: 240px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 8px 0;
  cursor: pointer;
  transition: all 0.25s ease;
}

#sponsor-button:hover {
  color: #fff;
  background: #222;
}

.question {
  margin-bottom: 16px;
}

.question h4 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 6px;
}

.question p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

@media only screen and (min-width: 761px) {
  .major-button-container:last-of-type {
    margin-left: 40px;
  }

  #register-button {
    margin-right: 0;
  }

  #mentor-button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 760px) {
  #sponsors p {
    margin-left: 16px;
    margin-right: 16px;
  }

  #sponsors div:first-of-type {
    margin-top: 0;
  }

  #sponsors div {
    margin-top: 24px;
  }

  #faq h1 {
    margin-bottom: 16px;
  }
}
