#atom {
  margin: 72px 42px 0;
}

#registerbutton {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0);
  font-size: 24px;
  margin: 48px 432px 72px;
  width: 140px;
  display: block;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#judgelist {
  margin-bottom: 8px;
}

.judge img {
  width: 180px;
  margin: 0 auto;
  display: block;
  margin-bottom: 12px;
  border-radius: 90px;
}

.judge h4 {
  font-size: 16px;
  text-align: center;
}

.judge span {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.scheduletable {
  margin: 0 auto;
}

.scheduletable tr td {
  padding: 12px 16px;
  color: #fff;
}

.question h4 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 6px;
}

.question p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}
