#main h1 {
  margin: 48px 42px !important;
}

p {
  line-height: 1.65;
}

fieldset {
  margin-top: 16px;
  border: 0 solid transparent;
}

h2 {
  font-size: 16px;
  color: #222;
  font-weight: 700;
}

.question {
  margin-top: 20px;
}

.question label {
  display: block;
  font-weight: 700;
  margin: 16px 0 8px;
  color: #222;
}

.question .short-desc {
  color: #777;
  font-size: 13px;
  margin-top: 4px;
  float: right;
}

.question input[type=text], .question input[type=number] {
  border-radius: 2px;
  border: solid 1px #e3e3ed;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding: 8px;
  outline: none;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 200ms ease-in-out;
}

.question input[type=text]:focus, .question input[type=number]:focus {
  box-shadow: 0 0 0 2px #007161;
}

.question select {
  font-size: 16px;
}

.checklist label:first-of-type {
  margin: 12px 0 0;
}

.checklist label {
  margin: 8px 0;
}

.checklist input {
  font-size: 16px;
}

.checklist input[type=checkbox], .checklist input[type=radio] {
  margin-right: 9px;
}

.checklist span {
  font-size: 16px;
}

#submit-button {
  border: 3px solid #222;
  color: #222;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  margin: 32px auto 0;
  width: 240px;
  text-transform: uppercase;
  display: block;
  padding: 8px 0;
  cursor: pointer;
  transition: all 0.25s ease;
}

#submit-button:hover {
  color: #fff;
  background: #222;
}
