* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html, body {
  width: 100%;
  height: 100%;
}

#menu{
  margin: 0 auto;
  width:800px;
}

#menu ul{
  margin:0;
  margin-bottom: 30px;
  padding: 30px 0 0;
  list-style: none;
  text-align: right;
}

#menu ul li{
  float: none;
  display: inline-block;
}

#menu ul li:nth-child(1){
  float:left;
}

#menu ul li:nth-child(2){
  float:left;
}

#menu ul li a{
  color: #000000;
  font-size: medium;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 10px 40px;
  position: relative;
}

#menu ul li a:before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #088008;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#menu ul li a:hover:before{
  visibility: visible;
  width: 100%;
}

#menu ul li a:hover{
  color:#088008;
}

#navbar{
  width: 100%;
  position: relative;
}

#logo{
  width: 110px; 
  height: 110px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -50px;
}

#logo img{
  width: 110px;
  height: 110px; 
}

footer {
  background: #222;
  padding: 8px;
  color: #fff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: color 0.25s ease;
}

footer a:hover {
  color: #ccc;
}

footer a i{
    margin: 5px 20px;
}
