* {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html, body {
  background-color: #222;
}

header {
  background-color: #fff;
  height: 90px;
  width: 100% !important;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}

header * {
  display: inline-block;
}

#logo {
  margin: 16px 0 16px 24px;
  height: 58px;
}

#logotext {
  color: #007161;
  font-weight: 600;
  font-size: 32px;
  line-height: 58px;
  margin: 16px 0 16px 16px;
  vertical-align: top;
}

nav {
  float: right;
  margin: 28px 28px 0;
}

nav a {
  color: #007161;
  text-decoration: none;
  margin-left: 12px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 35px;
}

nav .social {
  margin-left: 24px;
}

#hamburger {
  height: 32px;
  float: right;
  margin: 16px 24px 16px 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

#hamburger img {
  height: 100%;
}

section {
  padding: 32px;
}

section h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 28px;
  text-align: center;
}

#main {
  background-color: #007161;
  background: url(../img/school.png) no-repeat center bottom scroll;
  background-size: cover;
  margin-top: 90px;
}

#main h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 36px auto 0;
  width: 100%;
}

#main h4 {
  font-size: 24px;
  font-weight: 700;
  color: #ddd;
  text-align: center;
  margin: 4px auto 0;
  width: 100%;
}

footer {
  background: #222;
  padding: 10px;
}

footer span {
  color: #fff;
  text-align: center;
  display: block;
}

@media only screen and (min-width: 761px) {
  #hamburger {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  header {
    height: 64px;
  }

  nav {
    background: #fff;
    margin: -5px 0 0;
    padding: 0;
    width: 100%;
    display: none;
    border-top: #007161 solid 2px;
  }

  nav a {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav ul li {
    display: block;
  }

  .facebook, .twitter {
    display: none;
  }

  .visible {
    display: block;
  }

  #logo {
    height: 32px;
  }

  #logotext {
    line-height: 32px;
    font-weight: 400;
  }

  section {
    padding: 32px 0;
  }

  #main {
    margin-top: 64px;
  }

  #main h1 {
    font-size: 64px;
  }

  #main h4 {
    font-size: 18px;
    font-weight: 600;
  }
}


.green {
  background-color: #007161;
}

.green h1 {
  color: #fff;
}

.white {
  background-color: #fff;
}

.white h1 {
  color: #007161;
}
