#background {
    /*position: fixed;*/
    position: absolute;
    height: 100vh;
    width: 100%;
    /*background: url(../img/background.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: -2;
}

#cover {
//background: rgba(0, 0, 0, 0.75);
    object-fit: cover;
    width: 100%;
    height: 50px;
    z-index: -1;
}



#description {
    text-align: center;
    margin: 0 20px;
}

#description h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
}

#description h3{
    font-family: 'Permanent Marker', cursive;
}

#team {
    margin: 0 150px;
    width:900px;
}

#team ul{
    margin:0;
    padding: 30px 0 0 0 ;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid darkgreen;
}

#team ul li{
    display: inline-block;
}

#team ul li a{
    color: #000000;
    font-size: medium;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 40px;
    position: relative;
}

#team a:hover{
    background:lightgreen;
    transition: 0.5s;
}

.container{
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.heading-title {
    margin-bottom: 30px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}

.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-img {
    overflow: hidden;
}

/*.team-img img {
  transition: transform 200ms ease-in-out;
}

.team-img:hover img {
  filter: brightness(50%);
  transform: scale(1.1);
}*/

.team-img img{
    height:350px;
    width: auto;
    object-fit: cover;
    transition: transform .5s ease;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    /*filter: brightness(80%);*/
    border: 20px solid #BBD5C0;
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-hover .desk {
    top: 50%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-member:hover .team-img img{
    transform: scale(1.2);
}

.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.15s 0.1s;
    transition: all 0.15s 0.1s;
    font-size: 35px;
}

.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}