extends ./layout/judge.jade

block name
  h1(class='grid_12') Daniel Dubno

block info
  img(src='./img/judges/daniel.png', id='profile')
  p Dan Dubno is a many-time Emmy award winning television Producer, Inventor, Technologist, Curator…presenter and “connector”.   Founder of Blowing Things Up, LLC,  an international consultancy that brings innovative technology companies together to reach new markets and applications… a popular speaker at technology, business, and policy conferences around the world. For the past five years, Dubno has curated and produced Google’s famed I/O AfterHours “technology playground” for 6,000 key attendees of Google’s largest conference, in addition to producing large corporate and non-profit science and technology events for companies including Lenovo,  Lockheed, Bertelsmann, and others.  Dubno also produces private “techno-fiestas” for Google X to introduce cutting edge robotics, animation, mapping, sensors, and other novel technology companies and inventors to Google’s elite in-house “disruptors.”
  br
  p For seventeen years, Dan Dubno was Producer and Technologist for the CBS Evening News and supervised Special Events coverage of wars, terrorism, natural disasters, and elections. He is a pioneer in the use of powerful graphic technologies, satellite imagery, and visualization tools for news coverage. He introduced the first systematic use of 3D animations in nightly news broadcasts; the use of virtual sets, 3-D visualizations, and touch screens in news; and dozens of other technologies now seen regularly on broadcasts. His over thirty years of experience at CBS News and PBS garnered multiple Emmy Awards and commendations.
  br
  p At the TED Conference, Dubno debuted the Keyhole software imagery program and introduced this cool earth-viewing technology to his friends at Google. This resulted in Google’s acquisition of Keyhole which led to “Google Earth.”  Dubno is a popular speaker at technology, business, and policy conferences around the world.
  br
  p While at CBS News, Dubno routinely appeared on-camera as “Digital Dan” and humorously introduced America to critical new technologies.  He continues to write technology columns and reviews for websites (Huffington Post columnist) and for science magazines. His success "Bringing the Smart and Useless Together" led him to found and curate the prestigious and wildly entertaining annual Gadgetoff, an invitation-only technology celebration in New York City.
  br 
  p Dubno was a member of the scientific party in May 2005 in Wood's Hole Oceanographic Institution's expedition to the geothermal vents in the Galapagos Rift, and explored the "Rosebud" field nearly two-miles below the ocean surface in the Deep Submergence Vehicle Alvin. He is "Ambassador" for the FIRST: For Inspiration and Recognition of Science and Technology which mentors students to pursue careers in science and engineering.
  br
  p Dubno also heads a foundation to track down terrorists using crowd-sourcing techniques (called Hourglass Initiative) and is presently working on a spy novel.
