extends ./layout/main.jade

block content
  include ./layout/navbar.jade
  section(id='main', class='container_12')
    h1(class='grid_12') Eric Hoffert
  section(id='eric', class='container_12 white')
    img(src='./img/judges/eric.png', id='profile')
    p &#9;Eric Hoffert has more than twenty five years of experience developing digital media, mobile, and enterprise software products at Apple Inc., Spotify, AT&T Bell Labs, JW Player and new ventures. At JW Player Eric was CTO and EVP of Product leading efforts for the most popular video player on the web after Google and Facebook, with one billion unique video viewers. At Spotify, Eric served as software Architect defining future products and technologies for the leading streaming music service in the world. At Apple he managed Apple Computer's Multimedia Communications Group, where he co-founded the QuickTime software project and led development of the first real-time software video compression algorithm running on the QuickTime multimedia standard. The patented QuickTime technology he developed has been downloaded more than a billion times. While at Apple, Eric received the CEO Technical Award for the development of QuickTime software. Eric has also worked as a digital media consultant for Disney, SONY, VICE Media, TiVo, and Stanford University.
    br
    p &#9;Prior to joining Apple, Eric was a research scientist at AT&T's Bell Laboratories. He has published multiple papers, lectured widely around the world and holds 23 patents with 16 additional patents pending. Eric has authored and co-authored peer reviewed papers and served as Program Chair, Co-Chair and Reviewer for the ACM and the IEEE, co-authored book chapters on Scientific Visualization and Digital Video, and has lectured in Japan, France, England, Australia, Finland, Germany, etc. Eric holds a BS in computer science from New York University, a BS in aerospace and mechanical engineering from Cooper Union, and an MS degree in computer science from the Courant Institute of Mathematical Sciences at New York University. He attended the Bronx High School of Science where he received the Excellence in Computer Science award. Eric has been widely quoted in the press with work covered in the media including the Wall Street Journal, Forbes, The New York Times, Fortune, TechCrunch. The Financial Times, CIO, Computerworld, Entrepreneur, and Who's Who in America (2007 Edition).
  include ./layout/footer.jade

block scripts
  link(rel='stylesheet', href='./css/eric.css')
