doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title BXHacks
  body
    block content
  
  link(rel='stylesheet', href='./css/style.css')
  link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700')
  
  script.
    var ADAPT_CONFIG = {
      path: './css/adapt/',
      dynamic: true,
      range: [
        '0px    to 760px  = mobile.css',
        '760px  to 1024px = 720.css',
        '1024px           = 960.css'
      ]
    };
  script(src='./js/adapt.min.js')
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='./js/main.js')
  block scripts
