extends ./layout/judge.jade

block name
  h1(class='grid_12') Michael Dubno

block info
  img(src='./img/judges/michael.png', id='profile')
  p Michael Dubno is a founder and partner of Gadgetoff, a world renowned organization that brings innovators, inventors and entrepreneurs together once a year for a special event. Gadgetoff has attracted hundreds of participants with thousands of patents and billions of dollars in net worth.
  br
  p Mr. Dubno was the Head of Global Markets and Risk Technology, in addition to managing the Quantitative Strategies group at Bank of America Merrill Lynch for 5 years ending in 2015.
  br
  p Mr. Dubno worked as CTO and partner for Goldman Sachs, where he created Wall Street’s premier risk system and was responsible for the firm’s Institutional Portal and Private Wealth Management sites which consolidated the firm’s client facing business. He pioneered the use of the Internet at Goldman Sachs and also created the Investment Research software platform.
  br
  p Mr. Dubno is on the board of Cerebellum Capital, an innovative hedge fund based on machine learning.
  br
  p Mr. Dubno was the acting CTO for part of Senator Obama’s first presidential election campaign.
  br
  p He served on a Homeland Security Science and Technology Advisory Committee taskforce to assist the TSA.
  br
  p He is the co-chairman of the charity organization FIRST in New York City, which inspires and engages students in the studies of science and technology.
  br
  p Mr. Dubno wrote a top selling video game; parts of the CP/M operating system and briefly attended Rensselaer Polytechnic Institute. His hobbies include: robotics, welding, machining, art, artificial intelligence, and volleyball.
