extends ./layout/judge.jade

block name
  h1(class='grid_12') Minerva Tantoco

block info
  img(src='./img/judges/minerva.png', id='profile')
  p Minerva currently serves as the first Chief Technology Officer of the City of New York. In that capacity, she directs the Mayor's Office of Technology and Innovation. Prior to serving as the CTO of NYC, Minerva has more than twenty-five years experience in technology including launching her own start-up as well as directing technology and innovation across business in a wide range of industries from advertising to finance. A graduate of the Bronx Science Class of 1981, Minerva holds a Bachelors from Vassar College in Philosophy and Cognitive Science.
