header(class='grid_12')
  img(src='./img/logo.png', id='logo')
  h2(id='logotext') BXHacks
  nav
    a(href='index.html#main') Home
    a(href='index.html#judges') Judges
    a(href='index.html#schedule') Schedule
    a(href='index.html#sponsors') Sponsors
    a(href='index.html#faq') FAQ
    a(href='facebook', class='social')
      i(class='fa fa-facebook-official fa-lg')
    a(href='tweet')
      i(class='fa fa-twitter fa-lg')
