header(class='container_12')
  img(src='./img/logo.png', id='logo')
  h2(id='logotext') BXHacks
  button(id='hamburger')
    img(src='./img/menu.png')
  nav
    ul
      li
        a(href='#main') Home
      li
        a(href='#judges') Judges
      li
        a(href='#schedule') Schedule
      li
        a(href='#sponsors') Sponsors
      li
        a(href='#faq') FAQ
      li
        a(href='facebook', class='social facebook')
          i(class='fa fa-facebook-official fa-lg')
      li
        a(href='tweet', class='twitter')
          i(class='fa fa-twitter fa-lg')
