header
  img(src='./img/logo.png', id='logo')
  h2(id='logotext') BXHacks
  nav
    a(href='#main') Home
    a(href='#judges') Judges
    a(href='#schedule') Schedule
    a(href='#sponsors') Sponsors
    a(href='#faq') FAQ
    a(href='facebook', class='social')
      i(class='fa fa-facebook-official fa-lg')
    a(href='tweet')
      i(class='fa fa-twitter fa-lg')
