extends ./layout/main.jade

block content
  include ./layout/navbar-other.jade
  section(id='main', class='container_12')
    h1(class='grid_12') Register
  section(id='register', class='container_12 white')
    #form-error
      p This is an error with the form
    form(id='user-form', enctype='multipart/form-data', onsubmit='return false', class='grid_8 prefix_2 suffix_2')
      p We're glad to hear you're interested in coming to AtomHacks! Fill out this form to apply. Feel free to email us at info@atomhacks.org if you have any questions.
      fieldset
        h2 General Information
        .question
          label(for='user-name') Full Name
            span(class='short-desc') required
          input(id='user-name', type='text', name='name', placeholder='John Smith', required)
        .question
          label(for='user-email') School Email
            span(class='short-desc') required
          input(id='user-email', type='text', name='email', placeholder='email@bxscience.edu', required)
        .question
          label(for='user-phone') Phone Number
          input(id='user-phone', type='text', name='phone', placeholder='(917) 555-7890', pattern='[0-9]*')
        .question
          label(for='user-year') Graduation Year
            span(class='short-desc') required
          input(id='user-year', type='number', name='year', placeholder='2015', pattern='[0-9]*', required)
        .question
          .checklist
            span(class='short-desc') required
            h2 Gender
            label
              input(id='user-male', type='radio', value='male', name='gender')
              span Male
            label
              input(id='user-female', type='radio', value='female', name='gender')
              span Female
            label
              input(id='user-other', type='radio', value='other', name='gender')
              span Other
        .question
          label(for='user-shirt') Shirt Size
          select(id='user-shirt', name='shirt')
            option(value='XS') X Small
            option(value='S') Small
            option(value='M') Medium
            option(value='L') Large
            option(value='XL') X Large
        .question
          .checklist
            h2 Dietary Restrictions
            label
              input(id='user-vegetarian', type='checkbox', name='vegetarian')
              span Vegetarian
            label
              input(id='user-vegan', type='checkbox', name='vegan')
              span Vegan
            label
              input(id='user-gluten', type='checkbox', name='gluten')
              span Gluten Free
            label
              input(id='user-kosher', type='checkbox', name='kosher')
              span Kosher
            label
              input(id='user-lactose', type='checkbox', name='lactose')
              span Lactose Intolerant
            label
              input(id='user-halal', type='checkbox', name='halal')
              span Halal
        .question
          h2 Terms
          .checklist
            label
              input(id='user-conduct', type='checkbox', name='conduct')
              span I agree to the Code of Conduct.
            label
              input(id='user-student', type='checkbox', name='student')
              span I verify that I am a current student at Bronx Science, and am eligible to participate in this event.
        input(type='submit', value='register', id='submit-button', onclick='validate_form()')
  include ./layout/footer.jade

block scripts
  link(rel='stylesheet', href='./css/register.css')
  script(src='./js/register.js')
