* {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html, body {
  background-color: #222;
}

header {
  background-color: #fff;
  height: 90px;
  margin: 0 auto;
}

header * {
  display: inline-block;
}

#logo {
  margin: 16px 0 16px 24px;
  height: 58px;
}

#logotext {
  color: #007161;
  font-weight: 600;
  font-size: 32px;
  line-height: 58px;
  margin: 16px 0 16px 16px;
  vertical-align: top;
}

nav {
  float: right;
  margin: 28px 28px 0;
}

nav a {
  color: #007161;
  text-decoration: none;
  margin-left: 12px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 35px;
}

nav .social {
  margin-left: 24px;
}

#main {
  padding: 0 32px;
  background-color: #007161;
  background: url(school.png) no-repeat center bottom scroll;
  width: 960px;
  background-size: cover;
}

#main h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 0;
}

#main h4 {
  font-size: 24px;
  font-weight: 700;
  color: #ddd;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
}

footer {
  background: #222;
  padding: 10px;
}

footer span {
  color: #fff;
  text-align: center;
  display: block;
}


section {
  padding: 32px;
}

section h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 28px;
  text-align: center;
}


.green {
  background-color: #007161;
}

.green h1 {
  color: #fff;
}

.white {
  background-color: #fff;
}

.white h1 {
  color: #007161;
}
