extends ./layout/judge.jade

block name
  h1(class='grid_12') Warren Habib

block info
  img(src='./img/judges/warren.png', id='profile')
  p Warren Habib is the CTO of Everplans.com.  Warren has been working with technology for over 30 years and in internet startups since the late 1990s. After working as VP Engineering at Solbright, an SAAS company creating workflow systems for online advertising from 1999 to 2005, he joined pioneering photo-blogging website Fotolog as CTO. He scaled Fotolog to be one of the highest trafficked websites on the Internet at that time and it was sold for $95 million to Hi Media of France. From 2008 to 2011, he was SVP of Online Platform Development at MTV Networks. He returned to the startup world as CTO of XGraph, an online advertising firm that built custom audiences for advertisers using Big Data. XGraph was acquired in late 2011 by AddThis, where Warren served as SVP of Data Technology in charge of infrastructure. He left at the beginning of 2013 and joined Everplans as CTO in August of that year.
