extends ./main.jade

block content
  include ./navbar.jade
  section(id='main', class='container_12')
    block name
  section(id='content', class='container_12 white')
    block info
  include ./footer.jade

block scripts
  link(rel='stylesheet', href='./css/judge.css')
