header(class='container_12')
  a(href='index.html')
    img(src='./img/logo.png', id='logo')
  button(id='hamburger')
    img(src='./img/menu.png')
  nav
    ul
      li
        a(href='#main') Home
      li
        a(href='#eric') Keynote Speaker
      li
        a(href='#judges') Judges
      li
        a(href='#schedule') Schedule
      li
        a(href='#sponsors') Sponsors
      li
        a(href='#faq') FAQ
      li
        a(href='https://www.facebook.com/events/1374293586233233', class='social facebook', target='_blank')
          i(class='fa fa-facebook-official fa-lg')
      li
        a(href='https://twitter.com/atomhacks_', class='twitter', target='_blank')
          i(class='fa fa-twitter fa-lg')
